.form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

.auth-form {
    width: 100%;
    padding: 20px;
}

.form-group-auth {
    margin-bottom: 20px;
}

.form-group-auth label {
    display: block;
    margin-bottom: 10px;
}

.form-group-auth input {
    width: 100%;
    /* Đảm bảo ô input chiếm hết chiều rộng của phần tử chứa */
    height: 40px;
    /* Đảm bảo chiều cao của các ô input bằng nhau */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Đảm bảo kích thước của input bao gồm padding và border */
}

.password-group {
    position: relative;
}

.password-input-field {
    position: relative;
}

.password-visibility-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.auth-submit-btn {
    width: 100%;
    /* Đảm bảo nút submit cũng chiếm hết chiều rộng */
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.auth-submit-btn:hover {
    background-color: #3e8e41;
}

.auth-toggle-text-register {
    display: flex;
    justify-content: center;
    align-items: center;
}